/*Color Scheme: 
Selection: #E63946 Red
Background: #F1FAEE Offwhite
Navigation: #A8DADC;
 */


@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Antic+Slab&display=swap');

body {
  margin: 0;
}



.desc h1{

    font-family: 'Pacifico', cursive;
      margin-bottom: -10px;
}




.desc{
    font-family: 'Antic Slab', serif;
	text-align: center;
	font-size: 30px;
	background-color: 	#F1FAEE;
	color:#251605;
      margin-top: 45px; /* Add a top margin to avoid content overlay */
      margin-bottom: 20px;

}

#headshot{
	margin-top: 30px;
	margin-bottom: -45px;
	height: 130px;
	width: 130px;
	border-radius: 50%;
	    border-color: #A8DADC;
    border-width: 5px;
    border-style: solid;
}
#link{
  margin-left: 36px;
}

.about-me{
  width: 650px;
    content: "";
  display: table;
  clear: both;
  margin: 0 auto;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/


}
.about-me-colum{
  float: left;
  width: 75%;
    text-align: justify;
  text-justify: inter-word;
}

.about-me-colum p{
  font-size: 18px;
}

.about-me h1{
  font-size: 35px;
  font-family: 'Antic Slab', serif;
  margin-bottom: -10px;
  text-decoration: underline;
}

.about-me-links{
  float: left;
  width: 25%;
  font-size: 20px;

}


.about-me-links img{
  width: 30px;
  height: 30px;
    animation-name: h1over-animation-reverse;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}


.about-me-links img:hover{
  animation-name: h1over-animation;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@keyframes h1over-animation {
  0%{
      width: 30px;
  height: 30px;

  }
  100% {
    width: 40px;
    height: 40px;
  }
}

@keyframes h1over-animation-reverse {
  0%{
      width: 40px;
  height: 40px;

  }
  100% {
    width: 30px;
    height: 30px;
  }
}





